<article class="post">
  <div class="title">
    <a href="/post/{{id}}"><h3>{{title}}</h3></a>
    <p>{{post_content}}</p>
  </div>
  <div class="meta"> 
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>